/* #root {
  

} */
:root {
  --Mobile: 375px;
  --Desktop: 1440px;

  /* Primary (Birincil) */
  --Softblue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* ### Neutral (Nötr) */

  --Verydarkblue-main-BG: hsl(217, 54%, 11%);
  --Verydarkblue-card-BG: hsl(216, 50%, 16%);
  --Verydarkblue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);

  /* ## Typography (Tipografi) */

  /* ### Body Copy (Gövde Metni) */

  --Fontsize-paragraph: 18px;

  /* ### Font (Yazı Tipi) */

  --Family: "Outfit", sans-serif;
}

html {
  font-size: var(--Fontsize-paragraph);
}

body {
  margin: 0;
  background-color: var(--Verydarkblue-main-BG);
  font-family: var(--Family);
  box-sizing: border-box;
}

.card {
  background-color: var(--Verydarkblue-card-BG);
  width: 100%;
  max-width: 350px;
  min-width: 200px;
  color: white;
}

.imageEquilibrium:hover {
  opacity: 0.5;
}

.imageEquilibrium {
  transition: opacity 0.3s ease;
}
.imagecontainer:hover {
  background-color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.imagecontainer:hover > .imageview {
  display: block;
}

.imageview {
  pointer-events: none;
}
.imagecontainer {
  transition: background-color 0.3s ease;
}
